
<h1><%= current_user.username%>'s Projects </h1>

 <% @user.projects.each do |project| %>
   <div>
   <h2><a href="/projects/<%=project.id%>/edit"><%= project.name %></a></h3>
   <h3> Type of Project: <%= project.type_of_p %> </h3>
   <h3> Project Description:	<%= project.description %> </h3>
  <h3> Project Link:	<a href="https://<%= project.link %>"> <%= project.link %></a> </h3>
   <h3> Project Materials:	<%= project.materials %> </h3>



   </div>
 <%end%>
