<h3>Edit Project</h3>

	<form method="POST" action="/projects/<%=@project.id%>">
		<input id="hidden" type="hidden" name="_method" value="PATCH">

	  Project Name: <input type="text" name="name" value="<%= @project.name %>"><br>

		Type:
		<input type="radio" id="Hardware" name="type_of_p" value="Hardware">
		<label for="Hardware">Hardware</label>
		<input type="radio" id="Software" name="type_of_p" value="Software">
		<label for="Software">Software</label><br>

		Description: <input type="text" name="description" value="<%= @project.description %>"><br>

		Materials: <input type="text" name="materials" value="<%= @project.materials %>"><br>

		Link: <input type="text" name="link" value="<%= @project.link %>"><br>

		<input type="submit" id="submit" value="Submit">

	</form>

  <form method="POST" action="/projects/<%=@project.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
        <a><input type="submit" value="Delete Project" id="Delete Project"></a>

  </form>
